/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	font-family: 'PT Sans', sans-serif;
	background: #F1F1F1;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	letter-spacing: 1px;
}
p, a{
	margin:0;
	letter-spacing: 1px;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.header {
	padding: 1em 0 0;
    background: #fff;
}
.logo h1{
  font-size:2.5em;
  text-transform: uppercase;
  font-weight:500;
  font-family: 'Fugaz One', cursive;
}
.logo h1 a{
	color:#000;
	line-height: 0em;
}
.logo h1 a:hover{
	text-decoration:none;
}
span.highlight{
   color: #2550cf;
}
.top-menu {
	float:right;
}
.top-menu ul li {
	display:inline-block;
}
.top-menu ul li a {
	color: #000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding: 6px 15px;
    border: none;
    letter-spacing: 1px;
}
#toTop {
    width:70px;
    height:70px;
    font-size:25px;
    line-height: 67px;
    color: #fff;
    background: url(../images/back-top.png) no-repeat 0px 0px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}
.btn-default_2:hover, .btn-default_2:focus, .btn-default_2:active, .btn-default_2.active {
    color: #fff;
    background-color:#56CFCA !important;
    border-color:#56CFCA;
    border-radius: 0;
}
.top-menu ul li a.active {
	background:#ffbb42;
	color:#fff;
	padding:6px 15px;
}
ul.social li:first-child {
    margin-left: 0;
}
.logo_right{
	padding-right:0! important;
}
.social {
    padding: 0 0px 0 10px;
    margin:6px 0 0 0px;
    list-style: none;
    float: right;
    border-left: 1px solid #D4D4D4;
}
.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-clip: content-box;
    transition: .5s;
    color: #848484;
    font-size: 14px;
}
.social .link span {
    padding: 0 6px;
}
.social .link:hover {
    color:#56cfca;
}
.demo {
    background: #fff;
}
marquee {
    margin-bottom: -5px;
}
.help_line {
    float: right;
    margin:10px 0 0 0;
}
.navbar-default {
    background-color:#f1b458 !important;
    border-color:#f1b458;
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 300;
}
.navbar-default .navbar-nav > li > a span{
	display:block;
}
.navbar {
   min-height:100%;
   margin-bottom:0;
   background: #fff;
   padding:2em 0 1em;
}
.navbar-collapse {
    padding:0 !important;
}    
.navbar-nav {
   margin:0;
   float:left;
}
.navbar-brand {
    height: 100%;
    padding: 0;
    margin: 20px 0 0 0;
    padding-left: 15px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-nav > li > a {
    padding: 0 !important;
    text-align: center;
    color: #000;
    font-weight: 100;
    font-size: 13px;
    margin: 10px 12px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color:#000;
    background-color:#56CFCA !important;
}
.navbar-nav > li.current_page>a, .navbar-nav > li.current_page>a:hover {
    border-bottom: 2px solid #56CFCA;
}
.nav_1>li>a:hover, .nav_1>li>a:focus {
    background-color: rgba(86, 207, 202, 0) !important;
    color: #000;
}
.navbar-nav > li>a:focus, .navbar-nav>li>a:hover {
    border-bottom: 2px solid #56CFCA !important;
}
.nav_1 .open>a, .nav_1 .open>a:hover, .nav_1 .open>a:focus {
    background-color:rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0);
}
.dropdown-menu.columns-2 {
    min-width: 400px;
} 
.dropdown-menu.columns-3 {
    min-width:550px;
}
.multi-column-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.dropdown-menu {
    right: 0 !important;
    left:inherit;
}    
.drop_menu {
    top:40px !important;
    left: -41px !important;
    font-size: 14px;
    background-color:#F3DB28 !important;
    border: 1px solid #F3DB28 !important;
    border: 1px solid #F3DB28 !important;
    border-radius:0 !important;
    box-shadow:none !important;
}
.nav-tabs {
    display: inline-block;
    border-bottom: none;
    font-weight: bold;
    padding:0;
    font-family: 'Oswald', sans-serif;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    padding: 8px 15px;
    font-weight: 100;
    font-size: 15px;
}
.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li { 
  padding:20px 15px 15px;
  border-left: 1px solid #eee; 
  margin-right: 0 !important;
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
/*-- register form --*/
.dialog_3{
    width:450px;
    margin: 30px auto;
}
form.register {
    padding: 0 2em;
    text-align:center;
}
.radio_1{
	margin-bottom:3em;
}
.radio_1, .check_1{
    min-height:0px !important;
    margin-top:0px !important;
    padding-left:0px !important;
    text-align: left;
}
.radio_1 label, .check_1 label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
    width: 100%;
    color: #999;
    margin-bottom: 1em;
}
.radio_1 label:before, .check_1 label:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color:#56CFCA;
}
.radio_1 input[type=radio], .check_1 input[type=checkbox] {
    display: none;
}
.radio_1 input[type=radio]:checked + label:before {
    content: "\2022";
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 12px;
}
.radio_1 label:before {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
}
.check_1 input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}
.checkbox label:before {
    border-radius: 3px;
}
.form-actions.floatRight {
    text-align: center;
    margin-bottom: 2em;
}
h4#myModalLabel {
    font-family: 'Oswald', sans-serif;
    font-size:3em;
    font-weight:100;
    color:#000;
}
.modal-content {
    border-radius:0px !important;
}
.modal-header {
    border-bottom: 1px solid rgba(204, 204, 204, 0);
}
.close {
    font-size: 30px !important;
    font-weight: 100 !important;
}
.form-group_2 input {
    background: url("../images/inputbg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #999;
    font-size: 12px;
    margin: 0 10px 20px;
    padding: 0 2px;
}
/*---- login -----*/
.modal-dialog_2{
    width:400px;
    margin: 30px auto;
}
.section input[type="submit"], .btn-success1 {
    font-size: 14px;
    font-weight: 300 !important;
    color: #000;
    cursor: pointer;
    outline: none;
    padding:8px 15px;
    width:50%;
    margin:0 auto;
    border: none;
    background:#F3DB28;
    text-transform: uppercase;
    border: 4px double #F3DB28;
}

.section input[type="submit"]:hover, .btn-success1:hover{
	background:rgba(243, 219, 40, 0);
}
.submit {
    text-align: center;
}
ul.new {
    margin:3em 0 1em;
    list-style: none;
    padding: 0;
}
ul.new li.new_left {
    float: left;
}
ul.new li.new_left p a{
	color:#000;
}
ul.new li.new_left p a:hover{
	text-decoration:none;
	color: #56CFCA;
}
ul.new li.new_left p, p.sign {
    font-weight: 300;
}
ul.new li.new_left p, p.sign a{
	color: #56CFCA;
}
ul.new li.new_left p, p.sign a:hover{
	text-decoration:none;
	color:#000;
}
ul.new li.new_right {
    float: right;
}
.section {
	position: relative;
    margin-bottom: 22px;
}
.section input[type="text"], .section input[type="password"], .section input[type="number"],.section input[type="email"] .input-sm{
    position: relative;
    vertical-align: top;
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    height: 42px;
    width: 100%;
    padding-left: 40px;
    font-weight: 100;
    letter-spacing: 1px;
}

select#country {
    height:44px;
    color: #9C9C9C;
}
label.field.prepend-icon {
    width: 100%;
}
.field-icon {
    top: 0;
    z-index: 4;
    width: 42px;
    height: 42px;
    color: inherit;
    line-height: 42px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none;
    color:#56CFCA;
    font-size:15px;
    left:0px;
}
.head_4 p{
    font-size:1.5em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight:100;
}
/*-------select language -------*/
ul.lang{
	padding:0;
	margin:0;
	list-style:none;
}
ul.lang li a{
	color:#000;
	font-size:1em;
	line-height:1.8em;
}
/*--------banner --------*/
section.slider {
    background: url(../images/banner_2.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 450px;
}
.slider_right{
	position:relative;
}
.slider_right h3{
	font-family: 'Oswald', sans-serif;
    font-size: 130px;
    line-height: 140px;
    font-weight:800;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 2;
    color:#fff;
    margin:1em 0 0 0;
}
.slider_left{
	position:relative;
}
.slider_left h3{
	font-family: 'Oswald', sans-serif;
    font-size:120px;
    line-height: 140px;
    font-weight:800;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 2;
    color:#fff;
    margin:1em 0 0 0;
}
.slider_left h4{
	font-family: 'Oswald', sans-serif;
    font-size:140px;
    line-height: 140px;
    font-weight:100;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 2;
    color:#fff;
}
.slider_caption{
	position: absolute;
    right:-60px;
    width: 100%;
}
.slider_caption1{
	position: absolute;
    left:-180px;
    width: 100%;
}
.slider_right h4{
	font-family: 'Oswald', sans-serif;
    font-size:140px;
    line-height: 140px;
    font-weight:100;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 2;
    color:#fff;
}
/*----------content-----------*/
.separator_align_right {
    text-align: right;
}
.heading_1.col-lg-3.col-md-3.col-sm-12.col-xs-12 {
    padding: 0;
}
.heading.heading-v1 {
    position: relative;
    padding: 50px;
    overflow: hidden;
    background:#F3DB28 !important;
    top: 135px;
    left: 31px;
    z-index: 10;
}
.heading.heading-v1 .heading-inner {
    position: relative;
    padding-top: 30px;
}
.heading.heading-v1 .heading-inner:before {
    width: 50px;
    height: 4px;
    content: "";
    position: absolute;
    background:#fff;
    z-index: 1;
    top: 0;
    left: 70%;
    margin-left: 0;
}
.heading.heading-v1.light-style .heading-inner:before {
    background: #FFF;
}
.heading.heading-v1.light-style .heading-inner > * {
    color: #FFF;
}
.heading.heading-v1 .subheading {
    font-size:15px;
    font-weight: 100;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    display: block;
    letter-spacing: 2px;
}
.heading.heading-v1 h2 {
    margin: 5px 0;
    font-size:55px;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}
.heading.heading-v1 h3{
    margin: 5px 0;
    font-size: 55px;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}
.right_grid{
    padding:110px 80px;
    background:#fff;
}
.right_grid h3{
	font-style: normal;
    font-weight:100;
    line-height: 56px;
    font-size: 40px;
    position:relative;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}
.right_grid h4{
    font-style: normal;
    font: 100 22px/35px 'PT Sans', sans-serif;
    line-height: 39px;
    letter-spacing: .5px;
    color: gray;
    margin:5em 0 0 0;
}
.right_grid h3:after{
    width: 130px;
    height: 4px;
    content: "";
    position: absolute;
    background: rgb(221, 221, 221);
    z-index: 1;
    bottom: -50px;
    left: 0;
}
.right_grid p {
    margin: 3em 0 0;
    font-style: normal;
    font-weight: 100;
    line-height: 1.8em;
    font-size: 16px;
    color: #a8a8a8;
}
.box_2{
	background:#000;
	padding:2em 0;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	width:100%;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	width:180px !important;
}
.course_demo{
    padding:0% 3% 0 3%;
}
.nbs-flexisel-item img {
	  width: 100%;
	  cursor: pointer;
	  position: relative;
	  max-width: 140px;
	  max-height:140px;
	  margin-top:25px;
	  margin-bottom: 10px;
	  display:inline;
}
.row-inner_1{
	padding:0;
}
.row-inner {
    padding: 110px 70px;
    background: #fff;
}
ul.classi_1{
	padding:0;
	margin:0 0 3em 0;
	list-style:none;
}
ul.classi_1 li.classi_1-left{
	float: left;
    width:45%;
    margin-right: 5%;
}
ul.classi_1 li.classi_1-right{
	float:left;
	width:50%;
}
ul.classi_1 li.classi_1-right h3{
    font-size:25px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
}
ul.classi_1 li.classi_1-right h3 a{
	color:#000;
	font-weight:100;
}
ul.classi_1 li.classi_1-right h3 a:hover{
	text-decoration:none;
	color:#56cfca;
}
ul.classi_1 li.classi_1-right.middle h3 a{
	color:#fff;
	font-weight:100;
}
ul.classi_1 li.classi_1-right.middle h3 a:hover{
	color:#000;
}
ul.classi_1 li.classi_1-right p{
	color:#999;
	font:100 14px/23px 'PT Sans', sans-serif;
	line-height: 1.5em;
}
ul.classi_1 li.middle p{
	color:#fff;
}
.bs-example.bs-example-tabs.col-md-9 {
    background: #fff;
    padding:110px 80px;
}
.col-inner{
	padding:10px;
    background: #fff;
}
.col-inner_1{
	padding:10px;
	background:#56cfca;
}
ul.classi_2{
	margin-bottom:0;
}
.panel-body {
    background: #fff;
    padding: 4em 0 0 0;
}
.panel-body_1 h3{
	font-size:25px;
	font-family: 'Oswald', sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
}
span.m_6 {
    color: #999;
    font-size: 16px;
}
.panel-body_1 h3 a{
    color:#56cfca;
}
.panel-body_1 h4 a{
    color:#999;
    font:100 16px/23px 'PT Sans', sans-serif;
}
.panel-body_1 h4 a:hover{
	text-decoration:none;
	color:#000;
}
i.refresh_1{
	font-size:15px;
	color:#000;
	margin-left: 5px;
}
.pull-right{
	color: #C1C1C1;
	font-size:15px;
	font-family: 'PT Sans', sans-serif;
}
.btn-group {
    margin:-13px 0 0 0;
}
li.presentation_2{
	margin: 5px 0 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color:#56cfca !important;
    border: 1px solid #56cfca;
    padding: 8px 15px;
    font-weight: 100;
    font-size:20px;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background-color:#56cfca;
    color:#000;
    padding: 8px 15px !important;
    font-weight: 100;
    font-size:20px !important;
}
a#home-tab:hover{
	color:#fff;
}
.dropdown-toggle_1:hover, .dropdown-toggle_1:focus, .dropdown-toggle_1:active, .dropdown-toggle_1.active, .open .dropdown-toggle.dropdown-toggle_1 {
    color: #fff !important;
    background-color:#56cfca !important;
    border-color:#56cfca !important;
    border-radius:0px !important;
    padding: 8px 15px;
    box-shadow:none !important;
}
a.btn.btn_1.btn-default.dropdown-toggle.dropdown-toggle_1:hover{
	color:#fff !important;
}
input.form-control1{
    box-shadow: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 0px;
}
.nav-tabs>li.input#flocation.active>a, .nav-tabs>li.input#flocation.active>a:focus, .nav-tabs>li.input#flocation.active>a:hover {
    color: #fff;
    background-color: rgba(86, 207, 202, 0);
    border: 1px solid rgba(86, 207, 202, 0);
    font-size: 15px;
    font-weight: 100;
    padding:0;
}
.btn-default {
    color: #333;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(204, 204, 204, 0);
}
.nav-tabs>li>a {
    border-radius: 0px !important;
    color:#000;
    padding: 8px 15px !important;
    font-weight: 100;
    font-size: 20px !important;
}
.btn_1{
    padding: 8px 15px !important;
    font-size:20px;
    font-weight: 100;
}
.thumbnail {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    padding: 0;
    border: none;
    margin-right: 10px;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*-----------footer----------*/
.footer_widget{
    background-color: #292a2c;
    padding:7em 0;
}
.widget-title{
	margin-bottom:1em;
}
.widget-title span {
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.textwidget p{
	color: #959595;
    margin-bottom: 1em;
    line-height: 1.8em;
    font: 100 16px/25px 'PT Sans', sans-serif;
    letter-spacing: 1px;
}
ul.gallery{
	padding:0;
	margin:0;
	list-style:none;
}
ul.gallery li{
	float: left;
    width: 75px;
    height: 75px;
    margin: 0 10px 10px 0;
}
ul.gallery li.last{
	margin-right:0;
}
.footer_middle{
	background:#F3DB28;
}
.footer-icons .social-icon {
    display: inline-block;
    float: left;
    line-height: 0;
    margin-bottom: 0;
    margin-left: -1px;
    width: 25%;
}
.footer-icons .social-icon i {
    border-color: rgba(97, 97, 97, 0.1);
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #000;
    font-size: 50px;
    height: 165px;
    line-height: 165px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-icons .social-icon:hover i {
    color: #fff;
    background:#56cfca;
    border-color: -moz-use-text-color rgba(0, 0, 0, 0.07);
    border-style: none solid;
    border-width: 0 1px;
}
.newsletter_signup {
    margin:50px 0;
    position: relative;
    text-align: right;
}
.newsletter_signup input[type="email"].form-control {
    background: url("../images/mail.png") no-repeat scroll 15px 17px #ffffff;
    font-size: 15px;
    height:65px;
    padding: 5px 15px 5px 65px;
    width: 100%;
    border: 1px solid #56CFCA;
}
.newsletter_signup input[type="submit"] {
    background: none repeat scroll 0 0 #56CFCA;
    border: 0 none;
    color: #000;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: 600;
    height:59px;
    margin: 3px;
    padding: 6px 30px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.newsletter_signup input[type="submit"]:hover{
    background: none repeat scroll 0 0 #F3DB28;
	outline:none;
}
.footer_bottom{
	background-color: #292a2c;
	padding:3em 0;
	text-align: center;
}
.copy p{
	color: #999999;
	font-size:16px;
	letter-spacing: 1px;
}
.copy p a{
	color:#F3DB28;
}
.copy p a:hover{
	text-decoration:none;
    color:#56CFCA;
}
.title{
    font-size:50px;
    color: blue;
    text-align: center;
}
.subtitle{
    color: orange;
    font-size:30px;
    text-align: center;
}
button#test{
    font-size: 20px;
}


.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 20px;
}

.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-content
{
    width:400px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}
.skr-link{
    color: blue !important;
}

.skr-link:hover{
    color: black !important;
}
.skr-btn{
    font-size: 30px;
    text-align: center;
}